
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	       href="../../css/box.css" th:href="@{/css/box.css}"/>
<title>Add Lesson</title>
</head>
<body>
	<div align="center">
		<h1>Lesson Entry Update</h1>
		<p th:text="'Lesson: ' + ${session.lessonSessionAttribute} + '!'" />
		<p th:text="'Lesson: ' + ${lesson} + '!'" />

 	
		<form action="#" method="post" th:object="${lesson}" th:action="@{/saveLesson}">
<!--
		<form action="#" method="post" th:object="${lesson}" th:action="@{/saveUpdateLesson}">
 		
		<form action="#" method="post" th:object="${session.lessonSessionAttribute}" th:action="@{/saveLesson}">
-->		
		
   	       <!-- Use th:field to set field 'id' here  -->
          <input type="hidden" th:field="*{id}" />
          <input type="hidden" th:field="*{skillLevelTypeId}" />
          
		 <table>
        
           <tr>
             <td><label for="name">Lesson:</label> </td>
             <td><input type="text" th:field="*{name}"  /> </td>
           </tr>
        
           <tr>
             <td><label for="shortDescription">Short Description:</label></td>
             <td><input type="text" th:field="*{shortDescription}"  /></td>
           </tr>

           <tr>
             <td><label for="longDescription">Long Description:</label></td>
             <td><input type="text" th:field="*{longDescription}"  /></td>
           </tr>

           <tr>
               <td/>              
              <td>
                   <div style="text-align:center"><input type="submit" /> </div> 
              </td> 
           </tr>
		 </table>
		</form>
	</div>
</body>
</html>