
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <!--  Admin page - allows admin to add a new User -->
   <title>Add User</title>
   
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <link rel="stylesheet" type="text/css" media="all"
	        href="../../css/box.css" th:href="@{/css/box.css}"/>
	        
</head>
<body>
  <!-- Header -->
  <div th:replace="fragments/navbar :: navbar" >
  </div> 
  <div class="container" style="margin-top:100px">
			<h1>Admin - User Entry</h1>		
			  <p> Enter user: </p>
			 	
	<form action="#" method="post" th:object="${user}" th:action="@{/saveUser}">
 
       <label for="user" th:text="#{user.label}"></label>          
	   <div class="panel panel-info">
   	      <div class="panel-heading">
	          <div class="form-group">
	            <label for="name" th:text="#{user.firstName}"></label>
	            <input  class="form-control" type="text" th:field="*{firstName}" />
	          </div>
	          <div class="form-group">
	            <label for="name" th:text="#{user.lastName}"></label>
	            <input  class="form-control" type="text" th:field="*{lastName}" />
	          </div>
	          <div class="form-group">
	            <label for="name" th:text="#{user.userName}"></label>
	            <input  class="form-control" type="text" th:field="*{userName}" />
	          </div>
	          <div class="form-group">
	            <label for="name" th:text="#{user.password}"></label>
	            <input  class="form-control" type="text" th:field="*{password}" />
	          </div>          
	                    
          </div>
       </div>
	   
	   <!-- Select Applicable Operating System  -->
	   <!--  http://stackoverflow.com/questions/23747383/how-to-set-inline-check-box-in-a-bootstrap-panel-header -->	   
       <label for="checkedOperatingSystemsApplicableTo" th:text="#{checkedOperatingSystemsApplicableTo}"></label>          
	   <div class="panel panel-info">
		   <div class="panel-heading"> <!-- Update Applicable Operating System  -->
		      <div class="checkbox" style="display:inline">
				  <div th:each="osItem : ${allOperatingSystemApplicableItems}">
				    <input type="checkbox" th:field="*{operatingSystemIdList}" th:value="${osItem}" />
				    <label th:text="${osItem}">os</label>
				  </div>          
		      </div>
		   </div>
	   </div>           
	          
	   <!-- Select Applicable Lesson  -->
	   <!--  http://stackoverflow.com/questions/23747383/how-to-set-inline-check-box-in-a-bootstrap-panel-header -->
       <!-- Assign Applicable Lesson(s)  -->	
       <!--    	
       <label for="checkedLessonsApplicableTo" th:text="#{user.checkedLessonsApplicableTo}"></label>          
	   <div class="panel panel-info">
		   <div class="panel-heading"> 
		      <div class="checkbox" style="display:inline">
				  <div th:each="lessonItem : ${allLessonsApplicableItems}">
				    <input type="checkbox" th:field="*{lessonIdList}" th:value="${lessonItem}" />
				    <label th:text="${lessonItem}">lesson</label>
				  </div>          
		      </div>
		   </div>
	   </div>  	  
       -->
       
       
	   <!-- Select Applicable Lesson  -->
	   <!--  http://stackoverflow.com/questions/23747383/how-to-set-inline-check-box-in-a-bootstrap-panel-header -->	   
       <label for="checkedLessonsApplicableTo" th:text="#{user.checkedLessonsApplicableTo}"></label>          
	   <div class="panel panel-info">
		   <div class="panel-heading"> <!-- Assign Applicable Lesson(s)  -->
		      <div class="checkbox" style="display:inline">
				  <div th:each="lesson : ${allLessonsApplicable}">
				    <input type="checkbox" th:field="*{lessonIdNameList}" th:value="${lesson.id} +  ${lesson.seperatorSemiColonHack} +  ${lesson.name} + ${lesson.seperatorAmpersandHack}" />
				    <label th:text="${lesson.name}">lesson</label>
				  </div>          
		      </div>
		   </div>
	   </div>  	  
	   
	           
<div class="panel-body">
</div>
      
      					 
    <div class="btn-toolbar">
       <button class="btn btn-success" type="submit" th:text="#{user.saveUser}"></button>
       <div class="col-lg-10"></div>              
         <a th:href="@{cancelAdminUserEntryForm}"><button class="btn btn-danger" type="button" name="action" value="learn" th:text="#{cancel}"></button></a>                              
    </div>

	</form>
  </div>
</body>
</html>