
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <!--  Admin page - allows admin to add a new lesson -->
   <title>Add Lesson</title>
   
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <link rel="stylesheet" type="text/css" media="all"
	        href="../../css/box.css" th:href="@{/css/box.css}"/>
	        
</head>
<body>
  <!-- Header -->
  <div th:replace="fragments/navbar :: navbar" >
  </div> 
  <div class="container" style="margin-top:100px">
					<h1>Admin - Lesson Entry</h1>		
					<!-- 
					<p th:text="'skillLevelTypeId: ' + ${skillLevelTypeId} + '!'" />
					<p th:text="'lesson: ' + ${lesson} + '!'" />
					<p th:text="'Lesson Session Attribute: ' + ${session.lessonSessionAttribute} + '!'" />
					 -->
			  <p> Enter details of the lesson: </p>
			 	
		<form action="#" method="post" th:object="${lesson}" th:action="@{/saveLesson}">
			<!-- 		
					<form action="#" method="post" th:object="${session.lessonSessionAttribute}" th:action="@{/saveLesson}">
			-->		
					
					   <!-- Use th:field to set field 'id' here 
			           <input type="hidden" th:field="*{id}" />
			           <input type="hidden" th:field="*{skillLevelTypeId}" th:value="${skillLevelTypeId}" />           
			           -->
			          
			<input type="hidden" th:field="*{skillLevelTypeId}" th:value="${lesson.skillLevelTypeId}" />

 <!--				 
		   <div class="form-group">
            <label for="name" th:text="#{lesson.name}"></label>
            <input  class="form-control" type="text" th:field="*{name}" />
          </div>
          <div class="form-group ">
            <label for="shortDescription" th:text="#{lesson.shortDescription}"></label>
            <input  class="form-control" type="text" th:field="*{shortDescription}" />
          </div>          
          <div class="form-group">
            <label for="longDescription" th:text="#{lesson.longDescription}"></label>
            <input  class="form-control" type="text" th:field="*{longDescription}" />
          </div>
 -->          
 
 
 
       <label for="lesson" th:text="#{lesson.label}"></label>          
	   <div class="panel panel-info">
   	      <div class="panel-heading"> <!-- Update Applicable Skill  -->
	          <div class="form-group">
	            <label for="name" th:text="#{lesson.name}"></label>
	            <input  class="form-control" type="text" th:field="*{name}" />
	          </div>
	          <div class="form-group ">
	            <label for="shortDescription" th:text="#{lesson.shortDescription}"></label>
	            <input  class="form-control" type="text" th:field="*{shortDescription}" />
	          </div>
	 <!-- 
	          <div class="form-group">
	            <label for="longDescription" th:text="#{lesson.longDescription}"></label>
	            <input  class="form-control" type="text" th:field="*{longDescription}" />
	          </div>
       -->	          
          </div>
       </div>
<!-- 
          <div class="form-group">
             <label for="lessonSkillApplicable" th:text="#{lesson.skillApplicable}"></label>
          </div>          
		  <div class="form-group" th:each="item : ${allSkillLevelApplicableItems}">
		    <input type="checkbox" th:field="*{checkedSkillsLevelsApplicableTo}" th:value="${item}" />
		    <label th:text="${item}">example</label>
		  </div>          
-->
	   <!--  http://stackoverflow.com/questions/23747383/how-to-set-inline-check-box-in-a-bootstrap-panel-header -->
<!-- 
	   <div class="panel panel-info">
		   <div class="panel-heading">Select Applicable Skill
		      <div class="checkbox" style="display:inline">
				  <div th:each="item : ${allSkillLevelApplicableItems}">
				    <input type="checkbox" th:field="*{checkedSkillsLevelsApplicableTo}" th:value="${item}" />
				    <label th:text="${item}">example</label>
				  </div>          
		      </div>
		   </div>
	   </div>
 -->	   
	   <!-- Select Applicable Skill  -->
	   <!--  http://stackoverflow.com/questions/23747383/how-to-set-inline-check-box-in-a-bootstrap-panel-header -->
       <label for="checkedSkillsLevelsApplicableTo" th:text="#{lesson.checkedSkillsLevelsApplicableTo}"></label>          
	   <div class="panel panel-info">
		   <div class="panel-heading"> <!-- Update Applicable Skill  -->
		      <div class="checkbox" style="display:inline">
				  <div th:each="item : ${allSkillLevelApplicableItems}">
				    <input type="checkbox" th:field="*{checkedSkillsLevelsApplicableTo}" th:value="${item}" />
				    <label th:text="${item}">example</label>
				  </div>          
		      </div>
		  </div>
	   </div>      	   

<!-- 	   
	   <div class="panel panel-info">
		   <div class="panel-heading">Select Applicable Operating System
		      <div class="checkbox" style="display:inline">
				  <div th:each="osItem : ${allOperatingSystemApplicableItems}">
				    <input type="checkbox" th:field="*{checkedOperatingSystemsApplicableTo}" th:value="${osItem}" />
				    <label th:text="${osItem}">example</label>
				  </div>          
		      </div>
		   </div>
	   </div>       
-->
	   <!-- Select Applicable Operating System  -->
       <label for="checkedOperatingSystemsApplicableTo" th:text="#{lesson.checkedOperatingSystemsApplicableTo}"></label>          
	   <div class="panel panel-info">
		   <div class="panel-heading"> <!-- Update Applicable Operating System  -->
		      <div class="checkbox" style="display:inline">
				  <div th:each="osItem : ${allOperatingSystemApplicableItems}">
				    <input type="checkbox" th:field="*{checkedOperatingSystemsApplicableTo}" th:value="${osItem}" />
				    <label th:text="${osItem}">example</label>
				  </div>          
		      </div>
		   </div>
	   </div>           
	          
       <!--  Lesson Content - path and file name -->
       <label for="pathAndFileNameOfLesson" th:text="#{lesson.label}"></label>          
	   <div class="panel panel-info">
		  <div class="panel-heading">  <!-- Update Lesson Path and File Name  -->
          <div class="form-group">
            <!--  path to lesson content file -->
            <label for="pathToLesson" th:text="#{path}"></label>
            <input  class="form-control" type="text" th:field="*{pathToLesson}" />
            
             <!-- file name of lesson content -->
            <label for="lessonContentFileName" th:text="#{lesson.name}"></label>
            <input  class="form-control" type="text" th:field="*{lessonContentFileName}" />
          </div>
		   </div>
	   </div>           

       <!--  Script - path and file name -->
       <label for="pathAndFileNameOfScript" th:text="#{script}"></label>          
	   <div class="panel panel-info">
		  <div class="panel-heading"> <!-- Update Lesson Path  -->          
	          <div class="form-group">
	            <!-- path to script file -->
	            <label for="pathToScript" th:text="#{path}"></label>
	            <input  class="form-control" type="text" th:field="*{pathToScript}" />
	            <!-- file name of script -->
	            <label for="scriptFileName" th:text="#{lesson.name}"></label>
	            <input  class="form-control" type="text" th:field="*{scriptFileName}" />
	          </div>
		  </div>
	   </div>           
	          
	          
	          
<div class="panel-body">
</div>
      
      					 
		  <div class="btn-toolbar">
              <button class="btn btn-success" type="submit" th:text="#{lesson.saveLession}"></button>
              <div class="col-lg-10"></div>              
              <button class="btn btn-danger" type="submit" name="action" value="cancel" th:text="#{lesson.cancel}"></button>
          </div>
        
	</form>
  </div>
</body>
</html>